<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moran.mapper.SysMenuMapper">
  <resultMap id="baseResultMap" type="com.moran.model.SysMenu">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="parentId" column="parent_id" jdbcType="BIGINT"/><!-- 上级ID -->
    <result property="title" column="title" jdbcType="VARCHAR"/><!-- 菜单名称 -->
    <result property="name" column="name" jdbcType="VARCHAR"/><!-- name -->
    <result property="path" column="path" jdbcType="VARCHAR"/><!-- 目录 -->
    <result property="path" column="path" jdbcType="VARCHAR"/><!-- 目录 -->
    <result property="component" column="component" jdbcType="VARCHAR"/><!-- 路由地址 -->
    <result property="sort" column="sort" jdbcType="INTEGER"/><!-- 排序 -->
    <result property="isShow" column="is_show" jdbcType="TINYINT"/><!-- 是否可见 -->
    <result property="type" column="type" jdbcType="INTEGER"/><!-- 类型:1:菜单,2:按钮 -->
    <result property="api" column="api" jdbcType="VARCHAR"/><!-- 接口api -->
    <result property="icon" column="icon" jdbcType="VARCHAR"/><!-- 图标 -->
    <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
    <result property="status" column="status" jdbcType="TINYINT"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/><!-- 创建时间 -->
    <result property="createBy" column="create_by" jdbcType="BIGINT"/><!-- 创建人 -->
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/><!-- 更新时间 -->
    <result property="updateBy" column="update_by" jdbcType="BIGINT"/><!-- 更新人 -->
    <result property="deleted" column="deleted" jdbcType="TINYINT"/><!-- 是否删除 -->
  </resultMap>
</mapper>